
.slider-wrapper {
    position: relative;
    width: 80%;
    margin: auto;
}

.slider-container {
    height: 400px;
}

.slick-slide {
    text-align: center;
    border: 1px solid gray;
    height: 400px;
}

.progress-container {
    position: absolute;
    right: 10%;
    bottom: 5%;
    height: 8px;
    text-align: center;
}

.progress-bar {
    width: 200px;
    height: 8px;
    border-radius: 6px;
    background-color: ghostwhite;
}

.progress {
    position: absolute;
    height: 100%;
    top: 0;
    background-color: orange;
    border-radius: 8px;
}

.progress-text {

}